body{
    padding: 0;
    margin:0;
    border: 0;
    box-sizing: border-box;
    background-color: #f2f2f2f2
    
}
.modal-body > div.col.selecionado{
    background-color: red;
}
.modal-body > div.col{
background-color: white;
}

  #resumoDeCompra input {
    background-color: #2f2f2f2f;
  }
  
  #resumoDeCompra span {
    font-size: small;
  }
  #resumoDeCompra > span {
    font-size: medium;
  }
  
  #resumoDeCompra > div:nth-child(3) > svg,
  #resumoDeCompra > div:nth-child(5) > svg {
    position: absolute;
    left: 5px;
    bottom: 8px;
  }

  